#header {
	background-color: #66c6d9;
	text-align: center;
	color: #fff;
	padding: 14px;
	margin: 0;
}

#create-form {
	background-color: #353a40;
	padding: 14px;
	text-align: center;
}
#create-form > input {
	/* display: block; */
	width: 80%;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-color: #999;
	border-bottom-width: 80%;
	background-color: transparent;
	color: #fff;
	font-size: 24px;
	outline-style: none;
	margin-right: 20px;
}
#create-form > button {
	padding: 10px;
	border-radius: 8px;
	font-weight: bold;
	font-size: 16px;
}
.todo {
	position: relative;
	margin: 0 auto;
	width: 80%;
	padding: 10px 0;
	font-size: 20px;
	border-bottom: 1px solid #ddd;
}
.todo button {
	border: none;
	outline: none;
	cursor: pointer;
	position: absolute;
	right: 0;
	padding: 8px;
}
